<div class="container">
    <div class="row">
        <% productos.forEach(producto => { %>
            <div class="col-md-4 mb-4 card-wrapper">
                <div class="card">
                    <img src="<%= producto.imagen %>" class="card-img-top" alt="<%= producto.titulo %>">
                    <div class="card-body">
                        <h5 class="card-title"><%= producto.titulo %></h5>
                        <p class="card-text">$<%= producto.precio %></p>
                        <a href="detalleProducto.html?id=<%= producto.id_producto %>&categoria=<%= producto.categoria %>" class="btn btn-card">Ver más</a>
                    </div>
                </div>
            </div>
        <% }); %>
    </div>
</div>
